global
    daemon
    maxconn 256

defaults
    mode http
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

frontend http-in
    bind *:80
    default_backend webservers

backend webservers
    balance leastconn
    option httpchk
    option forwardfor
    option http-server-close
    {% for host in server %}
    server {{ host.servername }} {{ host.ip }}:{{ default_port }} maxconn 32 check
    {% endfor %}

listen admin
    bind *:8080
    stats enable
